@mixin clear() {
  clear: both;
  &:before,
  &:after {
    line-height: 0;
    display: table;
    content: ' ';
  }
  &:after {
    clear: both;
  }
}

@mixin no-wrap() {
  white-space: nowrap;
  word-break: keep-all;
}

@mixin box-sizing($value: border-box) {
  box-sizing: $value;

  *,
  *:before,
  *:after {
    box-sizing: $value;
  }
}

@mixin line-clamp($line-clamp: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
}

@mixin break-all-word() {
  word-wrap: break-word;
  word-break: break-all;
}

@mixin flex-center-content($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}
