.ant-external-modal-window {
  iframe {
    border: none;
  }
  .modal-window-title {
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding: 12px 16px;
    font-weight: 500;
    sub {
      bottom: auto;
      font-size: 12px;
      font-weight: normal;
      margin-left: 10px;
      color: #666;
    }
  }

  .ant-modal-close-x {
    width: 46px;
    height: 46px;
    line-height: 46px;
  }
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-confirm-title,
  .ant-modal-confirm-content {
    margin: 0;
    font-size: 0;
  }
  .ant-modal-confirm-btns {
    display: none;
  }
}
