@import '~antd/dist/antd.css';
@import '../../dist/index.css';

body {
  background: #ececec;
}
#content {
  margin: 20px;
  padding: 20px;
  min-height: 600px;

  .app {
    border: 1px solid #eee;
    margin: 10px 0;
    padding: 10px;
    background: #fff;

    & > div {
      margin-bottom: 10px;
    }
  }
  .app + .app {
    margin-top: 0px;
  }

  .app > * {
    margin-left: 8px;
  }

  iframe {
    border: 1px solid #ccc;
  }
}
